body{
    background-color: rgb(29, 37, 45);
}

.button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 34px;
    background-color:rgb(252, 252, 252);
    display: block;
    margin: 0px auto 0 auto;
    transition: all .4s;

}


.buttonmargintop{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 34px;
    background-color: rgb(252, 252, 252);
    display: block;
    margin: 14px auto 0 auto;
    transition: all .4s;

    
}





.buttonmarginbottum{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 34px;
    background-color:rgb(252, 252, 252);
    display: block;
    margin: 15px auto 120px auto;
    transition: all .4s;

    

}



.button_text{
    color: rgb(41, 41, 41);
    font-family: arial;

    font-weight: 500;

    font-size: 18px;

}
.katagori{
    display: block;
    margin: 30px auto 30px auto;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    color: blanchedalmond;
    text-align: center;


}
.title{
    color: blanchedalmond;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: monospace;
    padding-top: 8px;

}
.profile_img{
    width: 200px;
    height: 200px;

    border-radius: 100%;

}
.profile_mar{
    display: flex;
  justify-content: center;
  margin-top: 84px;
}
.profile_name{
    color: blanchedalmond;
    
        display:table;
        margin:34px auto;
       
    text-decoration: none;
    font-family: sans-serif;
}
